!!!5
%html{ :lang => :en }
  %head
    %meta{ :charset => "utf-8" }
    %title HDI
    = stylesheets "style"
    %link{ :rel => 'shortcut icon', :href => "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPdJREFUeNq0U8sNgkAUXK0AOsAOpAOsQDl4Jly8iieP4tETnm3BgyVoB2IFWsLagfPMrHkhsEajmwxvE97M+wwY888znS2HQOXL6b/RyIBChL4VuAMnCn0mgKoRwgpIgElXXg+JAaJr8QYExFjaV7kDxoix3u82ti8PVjlSqOJdk2tgDhz4TnB+jQCREiFWLTuSUVUL1ansZfQcoWX2kkJdZ82CplWAIlc1q+VO5GxBXnhdADlRZCfgYuK1kY7I7CEJlvPKyWUHtLezA6lQ0JlUrMM95z1TOaZ1B2qBIUWa3YmNFu9S35cYN8m0Wohi3eWnf+xDgAEAjKpPdaNiJO4AAAAASUVORK5CYII="}
  %body
    = partial('header')
    = yield
    = partial('jquery')
    = partial('hdi')
